body, html {
    height: 100%;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;*/
    color: #333 !important;
    /*font-size: 14px !important;*/
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    color: #0075c4;
    text-decoration: underline;
}

a:hover {
    color: #0397d7;
    text-decoration: none;
}

#NoticeBanner a:link{
    color:#ffffff !important;
    text-decoration: underline !important;
}

#NoticeBanner a:visited {
    color: #ffffff !important;
    text-decoration: underline !important;
}

nav a:link {
    font-weight: bold;
    color: #0075c4 !important;
    font-size: 16px;
}

nav a:visited {
    color: #0075c4 !important;
}

nav a:hover {
    color: #808080 !important;
}

.dropdown-item {
    font-size: 13px !important;
}
/*.navbar-nav > li {
    padding-left: 10px;
    padding-right: 10px;
}*/
.language-alert-container {
    background-color: #0075c4;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.full-container-gray {
    background-color: #f8f9fa;
}

.full-container-blue {
    background-color: #0075c4;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 20px;
}

.full-container-blue h2 {
    color: #ffffff;
}

.full-container-blue a {
    text-decoration: underline;
}

.full-container-blue a:link {
    color: #ffffff;
}

.full-container-blue a:hover {
    color: #ffffff;
}

.full-container-blue a:visited {
    color: #ffffff;
}

h1 {
    color: #47a200;
}

h2 {
    color: #47a200;
}

.fw-semibold,
.font-weight-semibold {
    font-weight: 600 !important;
}

.redbold {
    font-weight: bold;
    color: #cc0000;
}

.carousel-caption h2 {
    color:#000000;
}

#InteriorHeader {
    padding: 1rem 0;
    background-color: #0075c4;
    text-align: center;
    border-bottom: 3px solid #47a200;
    border-top: 3px solid #47a200;
}

#InteriorHeader h1 {
    color: #ffffff;
    margin: 0;
}

.alert {
    color:red;
    background-color:#ffffff;
    font-size:30px;
    font-weight:bold;
}

#ContentBody {
    padding-top: 15px;
    padding-bottom: 15px;
}

.GoogleMapCenter{
    text-align: center;
}

img {
    max-width: 100%;
}

.imgStyle {
    padding: 10px;
}

.HomeBodyContent {
    padding-bottom: 15px;
    padding-top: 10px;
    /*text-align:center;*/
}

#demo.carousel {
    position: relative;
}

.carousel-caption {
    position: absolute;
    right: 0;
    left: 10%;
    z-index: 50;
    padding-top: 0;
    padding-bottom: 0;
    color: inherit;
    text-align: center;
    top: 82%;
    bottom: auto;
}

.carouselText{
    color:#000000;
}

.banner-student-pass-event {
    font-size: 18px;
    background-color: #ee0000;
}

.banner-student-pass-event a {
    color: #ffffff;
}

@media only screen and (max-width: 992px) {
    .carousel-caption {
        top: auto;
        bottom: 0;
        left: 0;
        background: #ffffff;
        padding-top: 10px;
    }
}

.whiteLink a:link {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

.whiteLink a:visited {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

.whiteLink a:hover {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

.HomeBodyLinks {
    text-align: center;
    /*padding-bottom: 15px;*/
    padding-top: 15px;
    font-size: 14px;
}

.HomeBodyLinks a {
    color: #47a200;
    font-size:20px;
    font-weight:bold;
    text-decoration: none;
}

.HomeBodyLinks a:hover {
    color: #47a200;
    text-decoration: underline;
}

.list-links li {
    margin-bottom: .25rem;
}

footer {
    margin-top: auto;
    padding-top: 25px;
    background-color: #0075c4;
    color: #ffffff;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin-bottom:15px;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #ffffff;
}